@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  width: 1200px;
  height: 900px;
  background-color: aqua;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
/* 헤더 */
header {
  background-color: rgb(13, 129, 90);
  width: 100%;
  height: 100px;
}
/* 로고 */
.logo {
  width: 300px;
  /* background-color: #727474; */
  float: left;
}
.logo a{
  text-decoration: none;
}
.logo h1 {
  font-size: 40px;
  color: #fff;
  line-height: 100px;
  text-align: center;
}
/* 메뉴 */
.menu-top li {
  background-color: blueviolet;
  width: calc((100% - 400px) / 4);
  list-style: none;
  float: left;
  margin: 70px 10px 0 10px;
  text-align: center;
}
.menu-top li a {
  color: #fff;
  text-decoration: none;
}
/* ----------------------메인--------------------- */
/* --------------상단 이미지 돌담 배경*/
.main-image {
  width: 100%;
  height: 300px;
  /* background: url("../images/photo-3.jpg"); */
  background-color: rgb(255, 188, 88);
}
/* -------------왼쪽 하단 */
.main-text {
  width: 100%;
  height: 400px;
  background-color: rgb(173, 171, 255);
}
.main-text .notice {
  float: left;
  width: 50%;
  height: 400px;
  background-color: rgb(94, 255, 0);
}
.main-text .text-box{
  background-color: aquamarine;
  border-bottom: 1px solid #bbb;
  margin-top: 10px;
  padding: 15px 0;
}
.main-text .notice .first, .second{
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  /* background-color: rgb(127, 157, 255); */
}
.main-text .notice .first{
  color: red;
  background-color: bisque;
  border-right: 1px solid #bbb;
}
.main-text .notice .text-detail{
  padding: 15px;
  list-style: none;
}
.main-text .notice .text-detail li{
  padding: 5px;
}
/* -------------오른쪽 아이콘 세 개 */

.main-text .picture {
  width: 50%;
  height: 400px;
float: left;
}
.main-text .picture .img {
  /* overflow: hidden; */
  display: inline-block;
  margin-top: 100px ;
  margin-left: 30px;
  background-color: tomato;
}
.main-text .picture .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}
.main-text .picture .img p{
    text-align: center;
}

/* ----------------------풋터-------------------------- */
footer ul{
    background-color: rgb(255, 98, 130);
    width: 500px;
    float: left;
}
footer ul li{
    float: left;
    width: calc(500px / 4);
    list-style: none;
    padding: 5px 5px;
    text-align: center;
    border-right: 1px solid #ddd;
    background-color: blueviolet;
}
footer ul li a{
  text-decoration: none;
  font-size: 13px;
}

footer ul li:last-child{
    border: none;
}
footer .icons{
    float: right;
    margin: 35px 10px;
    background-color: yellow;
}
footer .address-box{
    float: left;
    background-color: blue;
    position: absolute;
    bottom: 5px;
    left: 15px;
}

